<style>
    #gameGrid {
    display: grid;
    width: 800px;
    height:800px;
    grid-template-columns: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    grid-template-rows: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    /* background-color: rgb(60, 255, 0); */
}
.displayBox img{
    width: 100%;
}
</style>
<div class='boardPage'>
<span id='gameGrid' >
    <% @gridNums.each do |gridNum| %>
        <div class="checkComtainer">
            <% if gridNum == 1 %>
                <%= image_tag "checkedbox.png", class: 'checkImage' %>
            <% else %>
                <%= image_tag "uncheckbox.png", class: 'checkImage'  %>
            <% end %>
        </div>
    <% end %>
</span>

<span class='right_box'>
<h6>Remember This</h6>
<p><%= link_to "I'm ready", '/recall' %></p>
<h6>Score: <%= @gridNums.length %></h6>
</span>



<span id='top_right_box'></span>
</div>