<style>
    #gameGrid {
    display: grid;
    width: 600px;
    height:600px;
    grid-template-columns: repeat(<%= @gridSize %>, <%= 600/@gridSize %>px);
    grid-template-rows: repeat(<%= @gridSize %>, <%= 600/@gridSize %>px);
    /* background-color: rgb(60, 255, 0); */
}
.displayBox img{
    width: 100%;
}
</style>

<span id='gameGrid' >
    <% @gridNums.each do |gridNum| %>
        <div style="" class="displayBox bstat<%= gridNum.to_s %>">
        
            <% if gridNum == 1 %>
                <%= image_tag "checkedbox.png"%>
            <% else %>
                <%= image_tag "uncheckbox.png" %>
            <% end %>
        </div>
    <% end %>
</span>

<span class='right_box'>
<%= link_to "I'm ready", '/recall' %>
<h6>Score: <%= @gridNums.length %></h6>
</span>