<style>
    #gameGrid {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    grid-template-rows: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    /* background-color: rgb(60, 255, 0); */
   /* margin-top: 0; */
}
</style>


<%= form_tag "/recall_submit" do %>
    <div id='gameGrid' >
    <% @gridNums.length.times do %>
        <label class="checkContainer">
          <%= check_box('game', 'guess', {:multiple => true},1, 0) %>
          <span class="checkmark"></span>
        </label>
    <% end %>
    </div>
    <span class='right_box'>
        <%= submit_tag "Submit Guess" %>
        <h6>Score: <%= @gridNums.length %></h6>
    </span>
<% end %>
    



<span id='top_right_box'>Enter Checkmarks</span>