<style>
    #gameGrid {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    grid-template-rows: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    /* background-color: rgb(60, 255, 0); */
   /* margin-top: 0; */
}
</style>

<%= form_tag "/recall_submit", class: 'boardPage' do %>
    <div id='gameGrid' >
        <% @gridNums.length.times do %>
            <%= check_box('game', 'guess', {:multiple => true, class: 'checkImage'},1, 0) %>
        <% end %>
    </div>
    <span class='right_box'>
        <h6>Enter Checkmarks</h6>
        <p><%= submit_tag "Submit", id:'checkSubmit'%></p>
        <h6>Score: <%= @gridNums.length %></h6>
    </span>
<% end %>
    