<h1></h1>
<%# leaderboard rank %>

<%# leaderboards %>
<%# log_out %>

<style>
    #gameGrid {
    display: grid;
    width: 800px;
    height:800px;
    grid-template-columns: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    grid-template-rows: repeat(<%= @gridSize %>, <%= 800/@gridSize %>px);
    /* background-color: rgb(60, 255, 0); */
}
.displayBox img{
    width: 100%;
}
</style>
<div class='boardPage'>
<span id='gameGrid' >
    <% @lastGuess.each_with_index do |gridNum, i| %>
        <div style="" class="displayBox bstat<%= gridNum.to_s %>">
        
            <% if gridNum == 1 && gridNum == @original[i] %>
                <%= image_tag "checkedbox.png"%>
            <% elsif gridNum == 0 && gridNum == @original[i]%>
                <%= image_tag "uncheckbox.png" %>
            <% elsif gridNum == 1 && gridNum != @original[i] %>
                <%= image_tag "wrong.png" %>
            <% else %>
                <%= image_tag "wrongB.png" %>
            <% end %>
        </div>
    <% end %>
</span>

<span class='right_box'>
<h6>You did not remember</h6>
<p><%= link_to "Try again?", '/newgame'%></p>
<p><%= link_to "Leaderboard", '/leaderboard'%></p>
<h6>Score: <%= @score %></h6>
</span>
</div>