<div class="parent-div">
<div class="profile-div">
<%= content_tag :h1,@user.username, class: 'profile'%>
<%= image_tag 'deadpool.jpg'%><br>
<%= button_to "Edit #{@user.username}", '/edit', method: 'get', id: 'edit'%>
</div>
<div class ="scores">
    <% if @scores.empty? %>
      <%=content_tag :p,"You have no scores, play a game ðŸ‘", class:'blue-text'%>
    <% else %>
      <ol>
        <% @scores.each do |score|%>
      <li>
        <%="#{score.score} (#{score.leaderboard.difficulty})"%> <%= button_to "delete score", method: 'delete', value: score.id%>
      </li>
      <%end%>
    </ol>
    <%end%>
</div>
<div>
